# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VisualStudioCode ###
.vscode/

checkpoint/*
data/*
data/test/*
data/test_results/*
data/eval_results/*
!checkpoint/.gitkeep
!data/.gitkeep
!data/test/.gitkeep
!data/test_results/.gitkeep
!data/eval_results/.gitkeep